.circularContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
  }
  
  .scoreText {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .progressRingCircle {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.6s ease;
  }
  
  .progressRing {
    transform: rotate(-90deg); /* Start progress from the top */
  }
  
  .low-score {
    stroke: red;
  }
  
  .medium-score {
    stroke: orange;
  }
  
  .high-score {
    stroke: green;
  }
  